* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(0, 0%, 9%);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background: radial-gradient(hsl(0, 0%, 90%), hsl(0, 0%, 50%)); */
  }
  
  /* utility classes */
  
  .error {
    color: red;
    text-align: center;
    margin-top: 1rem;
  }
  
  .hidden {
    opacity: 0;
  }
  
  /* main classes */
  .heading{
    background-color: hsl(39, 50%, 25%);
    padding:0.5rem;
    border-bottom: 1px solid white;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
  }
  
  .form fieldset {
    padding: 1rem;
    background-color: hsl(20, 20%, 15%);
    /* box-shadow: 5px 5px 10px 5px gray; */
    box-shadow: 0 3px 10px hsl(0, 0%, 50%);
  }
  
  .form label {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    justify-content: space-between;
  }
  
  .form input,
  .form select {
    /* display: inline-block; */
    padding: 0.5rem;
    margin-left: 0.5rem;
    background-color: hsl(0, 0%, 95%);
    border-radius: 0.3rem;
    border:1px solid gray;
    /* border: 0.5rem ridge hsl(0, 50%, 25%); */
  }
  
  .form .cookie-label {
    font-size: 1rem;
    padding: 0;
  }
  .cookie-label input {
    padding: 0.2rem 0.5rem;
  }
  .cookie-label>div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex:1;
  }
  .radio-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .radio-buttons input {
    height: 2rem;
    width: 2rem;
    margin: 0 0.5rem;
  }
  .form button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
  }
  .form .download-button {
    margin: 1rem 0;
  }
  
  .form .dir-input {
    width: 100%;
    margin: auto;
  }
  
  .dir-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
  .dir-picker {
    padding: 0.2rem 0.5rem;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    background-color: hsl(0, 0%, 90%);
    border-radius: 10%;
    color:black;
  }
  
  .dir-input-container input {
    display: none;
  }
  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-container {
    display: flex;
    margin-top: 1rem;
    justify-content: space-evenly;
  }
  